body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    font-style: italic;
}

nav {
    background: darkblue;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0px;
}

nav ul li {
    color: white;
    font-weight: bold;
    font-style: normal;
    padding: 10px;
    border-right: 1px solid;
    border-right-color: rgba(255, 255, 255, 50%);
    width: 100px;
}

nav ul li:hover {
    background-color: orange;
}

.liste_1 {
    text-decoration: underline;
}

.liste_2 li {
    border: 1px solid;
}

#elem_2 {
    border-radius: 5px;
    background-color: salmon;
}